DJANGO_SECRET_KEY=change-me-to-a-random-50-char-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=brunoweel.ru,www.brunoweel.ru
DJANGO_CSRF_TRUSTED_ORIGINS=http://brunoweel.ru,http://www.brunoweel.ru,https://brunoweel.ru,https://www.brunoweel.ru
# Включить после настройки SSL (Let's Encrypt), иначе сайт не откроется по http:
DJANGO_SECURE_SSL_REDIRECT=False
